:zekrom: **Seja bem-vindo(a) ao ginásio do tipo elétrico.** :zekrom:
Aqui você terá uma batalha eletrizante, toda
a energia que emana do seu corpo será 
precisa pra derrotar-me.

BANIMENTOS:
Tipo Ground;
Arceus;
Mega-Rayquaza;

REGRAS:
Serão melhores de 3, e caso o desafiante perca 
só poderá me desafiar no dia seguinte.

Boa sorte nos campos de batalha.

@everyone
